<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.ui.editors">
    
        <editor name = "Visual VNO Editor"
              extensions        = "vno"
              icon              = "Networks.png"
              default           = "true"
              class             = "com.fujitsu.us.visualvno.ui.VNOEditor"
              contributorClass  = "com.fujitsu.us.visualvno.ui.EditorActionBarContributor"
              id                = "Visual VNO Editor">
        </editor>
        
    </extension>
   
	<extension point = "org.eclipse.ui.newWizards">
        
        <category
            name    = "Visual VNO"
            id      = "com.fujitsu.us.visualvno.category">
        </category>
      
        <wizard
            name        = "Visual VNO Diagram"
            icon        = "Networks.png"
            category    = "com.fujitsu.us.visualvno.category"
            class       = "com.fujitsu.us.visualvno.ui.VNOCreationWizard"
            id          = "com.fujitsu.us.visualvno.ui.VNOCreationWizard">
        </wizard>
        
    </extension>
   
</plugin>
